$menu-width: 350px !default;

$header-width: 150px !default;
$screen-header-width: calc(100% - 150px) !default;
$lg-header-width: 150px !default;
$lg-screen-header-width: calc(100% - 150px) !default;

$filter-width: 400px !default;
$screen-filter-width: calc(100% - 400px) !default;
$lg-filter-width: 400px !default;
$lg-screen-filter-width: calc(100% - 400px) !default;
